In [250]:
import os
import pandas as pd
import numpy as np

Dados após simulação

In [251]:
FINAL_EXPORT_FILES_PATH = "N://TESE//Bullwhip//data//exports//"

In [252]:

files = os.listdir(FINAL_EXPORT_FILES_PATH)
for f in files:
    print(f)

closed_transactions.csv
db_log.csv
db_stats_log.csv
delivered_transactions.csv
final_closed_transactions.csv
final_open_transactions.csv
history
inventory_0.csv
inventory_1.csv
inventory_2.csv
inventory_3.csv
inventory_4.csv
inventory_5.csv
inventory_log.csv
inventory_snapshot.csv
inventory_snapshot_cleaned.csv
open_transactions.csv
orders_1.csv
orders_2.csv
orders_3.csv
orders_4.csv
orders_5.csv
scheduled_stock.csv
simulation_stats.csv
t_bkup.csv

In [253]:
closed_transactions         = pd.read_csv(FINAL_EXPORT_FILES_PATH+"closed_transactions.csv")
db_log                      = pd.read_csv(FINAL_EXPORT_FILES_PATH+"db_log.csv")
db_stats_log                = pd.read_csv(FINAL_EXPORT_FILES_PATH+"db_stats_log.csv")
delivered_transactions      = pd.read_csv(FINAL_EXPORT_FILES_PATH+"delivered_transactions.csv")
final_closed_transactions   = pd.read_csv(FINAL_EXPORT_FILES_PATH+"final_closed_transactions.csv")
final_open_transactions     = pd.read_csv(FINAL_EXPORT_FILES_PATH+"final_open_transactions.csv")
inventory_0                 = pd.read_csv(FINAL_EXPORT_FILES_PATH+"inventory_0.csv")
inventory_1                 = pd.read_csv(FINAL_EXPORT_FILES_PATH+"inventory_1.csv")
inventory_2                 = pd.read_csv(FINAL_EXPORT_FILES_PATH+"inventory_2.csv")
inventory_3                 = pd.read_csv(FINAL_EXPORT_FILES_PATH+"inventory_3.csv")
inventory_4                 = pd.read_csv(FINAL_EXPORT_FILES_PATH+"inventory_4.csv")
inventory_5                 = pd.read_csv(FINAL_EXPORT_FILES_PATH+"inventory_5.csv")
inventory_log               = pd.read_csv(FINAL_EXPORT_FILES_PATH+"inventory_log.csv")
# inventory_snapshot          = pd.read_csv(FINAL_EXPORT_FILES_PATH+"inventory_snapshot.csv", index_col="_id")
open_transactions           = pd.read_csv(FINAL_EXPORT_FILES_PATH+"open_transactions.csv")
orders_1                    = pd.read_csv(FINAL_EXPORT_FILES_PATH+"orders_1.csv")
orders_2                    = pd.read_csv(FINAL_EXPORT_FILES_PATH+"orders_2.csv")
orders_3                    = pd.read_csv(FINAL_EXPORT_FILES_PATH+"orders_3.csv")
orders_4                    = pd.read_csv(FINAL_EXPORT_FILES_PATH+"orders_4.csv")
orders_5                    = pd.read_csv(FINAL_EXPORT_FILES_PATH+"orders_5.csv")
scheduled_stock             = pd.read_csv(FINAL_EXPORT_FILES_PATH+"scheduled_stock.csv")
simulation_stats            = pd.read_csv(FINAL_EXPORT_FILES_PATH+"simulation_stats.csv")
t_bkup                      = pd.read_csv(FINAL_EXPORT_FILES_PATH+"t_bkup.csv")

In [254]:
closed_transactions.groupby(by=["receiver"]).sum()
open_transactions.groupby(by=["receiver"]).sum()

,_id,deliver_day,order_id,order_criation_day,sending_day,sender,product,quantity,transit_time,lead_time,theoretical_lead,transaction_id
receiver,,,,,,,,,,,,
0,1856,558,7000477,477,477,7,7007,22501,0.0,0.0,81,1856
1,1890,564,14000917,494,494,14,14007,22501,0.0,0.0,70,1890
2,1915,568,21000913,496,496,21,21007,22501,0.0,0.0,72,1915
3,506,174,16000231,135,135,16,16004,13408,0.0,0.0,39,506
4,104763883,26366512,72302207850,26214342,26214342,72250,72264450,307833234,0.0,0.0,152170,104763883

In [255]:
import csv
import json
with open(FINAL_EXPORT_FILES_PATH+"inventory_snapshot.csv", newline='') as csvfile:
    reader = csv.DictReader(csvfile)
     
    cols = ["day", 'id', 'in_stock']
    lst = []
    for row in reader:
        x = row["inventory"].replace("'", '"')
        x= json.loads(x)
        
        for k, v in x.items():
            id = dict(list(v.values())[0])["id"]
            in_stock = dict(list(v.values())[0])["in_stock"]
            lst.append([int(row["_id"]),id, in_stock])
            
    inventory_snapshot = pd.DataFrame(lst, columns=cols)

In [256]:
# a=inventory_snapshot[id<5001].groupby(by=["day", "id"]).sum()
# b=inventory_snapshot.groupby(by=[""])
# inventory_snapshot[inventory_snapshot.id <5000]


inventory_snapshot.to_csv(FINAL_EXPORT_FILES_PATH+"inventory_snapshot_cleaned.csv", sep=";")

PermissionError: [Errno 13] Permission denied: 'N:/TESE/Bullwhip/data/exports/inventory_snapshot_cleaned.csv'

In [ ]:
final_open_transactions

,_id,deliver_day,order_id,order_criation_day,sending_day,receiver,sender,product,quantity,transit_time,lead_time,theoretical_lead,transaction_id
0,28,30,5000010,19,19,4,5,5001,1143254,NaN,NaN,11,28
1,29,30,5000010,19,19,4,5,5001,1143254,NaN,NaN,11,29
2,30,29,5000011,20,20,4,5,5001,1694635,NaN,NaN,9,30
3,31,26,5000011,20,20,4,5,5001,1694635,NaN,NaN,6,31
4,32,33,5000012,21,21,4,5,5001,2422360,NaN,NaN,12,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,104,70,5000048,57,57,4,5,5001,219390194,NaN,NaN,13,104
77,105,71,5000048,57,57,4,5,5001,219390194,NaN,NaN,14,105
78,106,66,5000049,58,58,4,5,5001,223047591,NaN,NaN,8,106
79,107,64,5000049,58,58,4,5,5001,223047591,NaN,NaN,6,107
80,108,72,5000050,59,59,4,5,5001,226624681,NaN,NaN,13,108

In [ ]:
final_closed_transactions

,_id,deliver_day,order_id,order_criation_day,sending_day,receiver,sender,product,quantity,transit_time,lead_time,theoretical_lead,transaction_id,delivered,update_day
0,1,7,1000001,1,1,0,1,1001,3459,NaN,6,6,1,1,7
1,6,9,2000003,6,6,1,2,2001,3459,NaN,3,3,6,1,9
2,3,12,1000003,3,3,0,1,1001,3459,NaN,9,9,3,1,12
3,2,13,1000002,2,2,0,1,1001,3459,NaN,11,11,2,1,13
4,16,16,5000004,13,13,4,5,5001,10568,NaN,3,3,16,1,16
5,12,17,5000002,11,11,4,5,5001,10568,NaN,6,6,12,1,17
6,13,18,5000002,11,11,4,5,5001,10568,NaN,7,7,13,1,18
7,4,19,2000001,4,4,1,2,2001,3459,NaN,15,15,4,1,19
8,8,19,3000002,8,8,2,3,3001,3458,NaN,11,11,8,1,19
9,18,19,5000005,14,14,4,5,5001,10568,NaN,5,5,18,1,19
10,5,21,2000002,5,5,1,2,2001,3459,NaN,16,16,5,1,21
11,14,21,5000003,12,12,4,5,5001,10568,NaN,9,9,14,1,21
12,7,22,3000001,7,7,2,3,3001,3458,NaN,15,15,7,1,22
13,11,22,5000001,10,10,4,5,5001,10568,NaN,12,12,11,1,22
14,10,23,5000001,10,10,4,5,5001,10568,NaN,13,13,10,1,23
15,15,21,5000003,12,12,4,5,5001,10568,NaN,12,9,15,1,24
16,9,25,4000001,9,9,3,4,4001,10568,NaN,16,16,9,1,25
17,19,22,5000005,14,14,4,5,5001,10568,NaN,11,8,19,1,25
18,17,26,5000004,13,13,4,5,5001,10568,NaN,13,13,17,1,26
19,20,26,5000006,15,15,4,5,5001,10568,NaN,12,11,20,1,27
20,21,25,5000006,15,15,4,5,5001,10568,NaN,13,10,21,1,28
21,22,24,5000007,16,16,4,5,5001,39192,NaN,13,8,22,1,29
22,23,30,5000007,16,16,4,5,5001,39192,NaN,14,14,23,1,30
23,24,30,5000008,17,17,4,5,5001,94197,NaN,14,13,24,1,31
24,25,23,5000008,17,17,4,5,5001,94197,NaN,15,6,25,1,32
25,26,23,5000009,18,18,4,5,5001,109590,NaN,15,5,26,1,33
26,27,28,5000009,18,18,4,5,5001,109590,NaN,16,10,27,1,34
27,109,127,1000117,117,117,0,1,1001,3031,NaN,10,10,109,1,127
28,111,132,1000118,118,118,0,1,1001,3031,NaN,14,14,111,1,132
29,112,132,1000119,119,119,0,1,1001,3031,NaN,13,13,112,1,132
30,110,133,1000117,117,117,0,1,1001,3031,NaN,16,16,110,1,133