In [6]:
import pandas as pd
import json

In [7]:
orders = pd.read_csv("N:\\TESE\\Bullwhip\\data\\exports\\orders_20220914_00-36-10.csv")
transactions = pd.read_json("N:\\TESE\\Bullwhip\\data\\exports\\transactions_20220914_00-36-10.json", orient="index")


inventory_history_json = json.load(open("N:\\TESE\\Bullwhip\\data\\exports\\inventory_history_20220914_00-36-10.json"))
# inventory_history = pd.json_normalize(inventory_history_json ).

# inventory_history_json = pd.read_json(open("N:\\TESE\\Bullwhip\\data\\exports\\inventory_history.json"), orient="records")#.groupby(["day", "actor"]).sum()


# inventory_history_json["stock"].apply(pd.Series).groupby(["day", "actor"]).sum()

# inventory_history_json.loc# print(inventory_history_json.groupby('day'))#['actor'].apply(' '.join).reset_index())

In [13]:

inventory_table={}
for record in inventory_history_json:
    for key, value in record.items():
         if key == "stock":
             for prd, quantity in value.items():
                
                actor=record["actor"]
                day=str(record["day"])
                product=prd
                quantity=value[prd]
                # print(inventory_table)
                
                if day in inventory_table:
                    inventory_table[day][f"{actor}-{product}"] = quantity
                    
                else:
                    new_key =str(actor)+"-"+str(product)
                    
                    inventory_table[day] = {new_key:quantity}
                    
inventory_table   
# type(inventory_table)
inventory_history = pd.read_json(json.dumps(inventory_table), orient="index")
# inventory_history.to_csv("N:\\TESE\\Bullwhip\\data\\exports\\inventory_history.csv")

[
    {
        "actor": 1,
        "day": 1,
        "stock": {
            "1001": 20000
        }
    },

In [16]:
inventory_history

     1-1001  1-1002  2-2001  3-3001  4-4001      5-5001  1-2001
1    300000  300000  300000  300000  300000  9999999999     NaN
2    288237  300000  300000  300000  300000  9999999999     NaN
3    276454  300000  300000  300000  300000  9999999999     NaN
4    264683  300000  300000  300000  300000  9999999999     NaN
5    252850  300000  300000  300000  300000  9999999999     NaN
..      ...     ...     ...     ...     ...         ...     ...
361    5579  300000   39642  300000  300000  9999999999     0.0
362    5579  300000   39642  300000  300000  9999999999     0.0
363    5579  300000   39642  300000  300000  9999999999     0.0
364    5579  300000   39642  300000  300000  9999999999     0.0
365    5579  300000   39642  300000  300000  9999999999     0.0

[365 rows x 7 columns]