In [27]:
import pandas as pd
data_path="N:\\TESE\\Bullwhip\\data\\input\\data_amplified.csv"

df=pd.read_csv(data_path)

In [28]:
df.describe()

              value
count   5740.000000
mean   12049.055923
std     1599.494149
min     8252.000000
25%    11134.750000
50%    12080.000000
75%    13206.250000
max    15990.000000

In [26]:
120.5+15.9

136.4

In [29]:
12049+1599

13648